<!doctype html>
<link rel="stylesheet" type="text/css" href="style.css" xmlns="http://www.w3.org/1999/html"/>
<html>
   <head>
      <meta charset="utf-8">
      <title>mobile Shop</title>



   </head>
   <body>   
      <div class="top2">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                     <a href="{{ url_for('Cart') }}" class="mybtn"><i class="fa fa-cart-arrow-down"></i>Cart</a>
                  </div>
               </div>  
      <!----------------------------------> 
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="two-slider">
                  
                  <div class="owl-carousel owl-theme ov2">
                     {%for i in products %}
                     <div class="item" style="width: fit-content ; background-color: white; text-align: center; border-style: ridge; border-radius: 10px; border-color: black; border-width: 6px; margin: 5px 5px;  box-shadow: 2px 2px lightgray; float: left;">
                        <figure>
                           <a href=""><img src={{i["link"]}} style="width: 90px; height: 90px; float: inherit; margin: 10px 10px;" class="w-100" /></a>
                        </figure>
                        <h5>{{i["name"]}}</h5>
                        <span style="text-align: center; font-weight: bold; ">{{i["price"]}} تومان</span><br></br>
                        <span style="text-align: center; font-weight: bold; ">{{r(i["price"]/dollar,2)}} $</span>
                        <form action="{{url_for('aded')}}" method="post"><input name="name" type="hidden" value="{{i['name']}}"><input type="submit" value="add" name="add" ></form>
                        <form action="{{url_for('delete')}}" method="post"><input name="name" type="hidden" value="{{i['name']}}"><input type="submit" value="delet" name="delet" ></form>
                     </div>
                     {%endfor%}
                  </div>
               </div>
            </div>
         </div>
      </div>  
      <!---------------------------------->
   </body>
</html>